<link rel="stylesheet" href="styles.css">
body {
  background-color: lavender;
}

h1 {
  color:black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  background: rgb(255, 102, 153);
}
